body{
	background-color: lavender;

}

a{
	font-size: 30px;
}



/*footer{
	background-color: lightblue;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: "roboto slab";
}*/